<!DOCTYPE html>
<html data-ng-app="cookbook">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<script type="text/javascript" src="lib/angular.js"></script>
	<!-- // <script type="text/javascript" src="lib/angular-route.js"></script> -->
	<script type="text/javascript" src="lib/ui-router.js"></script>

	<script type="text/javascript" src="src/modules.js"></script>
	<script type="text/javascript" src="src/routes.js"></script>
	
	<script type="text/javascript" src="src/controllers.js"></script>
	<script type="text/javascript" src="src/directives.js"></script>
	<script type="text/javascript" src="src/factories.js"></script>
	<script type="text/javascript" src="src/filters.js"></script>
	<script type="text/javascript" src="src/services.js"></script>
</head>
<body>
	<div data-ng-controller="MainCtrl">
		Favourite member of the Juice Crew:
		<input type="text" ng-model="emcee"><br>
		Emcee: <span ng-bind="emcee"></span>
	</div>
	<div ui-view>
		<button ng-click="loadEmcee()">load</button>
	</div>

</body>
</html>